.watable * .watable:not(button) {
	white-space: pre-line;
	font-size: 12px !important;
}

.watable button {
	white-space: nowrap;
}

.watable.table {
	width: auto;
}

.watable p {
	margin: 0;
}

.watable th,
.watable td {
	border-width: 1px !important;
}

.watable td {
	color:#000000;
}

.watable .glyphicon {
	margin: 0 0 0 2px;
	opacity: 0.5;
}

.watable span.filter {
	background-color: #999;
}

.watable .indeterminate {
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
}

.watable .columnpicker li,
.watable .actions li {
	padding-left: 5px;
}

.watable .btn-toolbar {
	margin-bottom: -5px;
}

.watable .pagination {
	margin: 0;
}

.watable input[type=checkbox] {
	margin: 0;
	padding: 0;
}

.watable input[type=text].filter {
	margin: 0;
	padding: 0;
	box-shadow: none;
	border: none;
	width: 80px;
	float: left;
	background-color: transparent;
}

.watable .date-wrap {
	width: 100%;
	min-width: 115px;
}

.watable .dateWrap .add-on {
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	float: right;
	cursor: pointer;
}

.watable .dropdown-menu {
	max-height: 250px;
	overflow: auto;
}

.watable .actions a {
	padding: 0;
	margin: 0;
}

.watable .truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

